torch==2.6.0
torchvision==0.21.0
transformers==4.57.0
accelerate==1.12.0
diffusers
flash-attn==2.8.3
omegaconf==2.3.0
pyyaml>=6.0
numpy==1.26.4
pillow
scipy
opencv-python
matplotlib
msgpack
websockets
gymnasium
tyro
av
mujoco==3.2.6
mink==0.0.5
yourdfpy
pydantic==2.10.6
